DcTNNmodel/build_model-one.py
DcTNNmodel/build_model2.py
DcTNNmodel/Modelforimages.py
KT-And-Fractal/original.png
KT-And-Fractal/shifting.png

KT-And-Fractal/ErrorChecking/Figure2-Yes.png
KT-And-Fractal/ErrorChecking/Figure2-Maybe.png
KT-And-Fractal/ErrorChecking/Figure3-Yes.png
KT-And-Fractal/ErrorChecking/Figure3-Maybe.png
KT-And-Fractal/FullEncoding.py
KT-And-Fractal/__pycache__/Kaleidoscope.cpython-39.pyc
KT-And-Fractal/__pycache__/Kaleidoscope.cpython-39.pyc
DcTNNmodel/__pycache__/loadingimages.cpython-310.pyc
DcTNNmodel/dc/__pycache__/dc.cpython-310.pyc
DcTNNmodel/DcTNN/__pycache__/Kaleidoscope.cpython-310.pyc
DcTNNmodel/DcTNN/__pycache__/KalEncoder.cpython-310.pyc
DcTNNmodel/DcTNN/__pycache__/tnn.cpython-310.pyc
DcTNNmodel/dc/__pycache__/dc.cpython-310.pyc
DcTNNmodel/DcTNN/__pycache__/tnn.cpython-310.pyc
__pycache__

models