DcTNNmodel/build_model-one.py
DcTNNmodel/build_model2.py
DcTNNmodel/Modelforimages.py
KT-And-Fractal/original.png
KT-And-Fractal/shifting.png

KT-And-Fractal/ErrorChecking/Figure2-Yes.png
KT-And-Fractal/ErrorChecking/Figure2-Maybe.png
KT-And-Fractal/ErrorChecking/Figure3-Yes.png
KT-And-Fractal/ErrorChecking/Figure3-Maybe.png
